/* general */

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: var(--SLATE, #434455);
    font-style: normal;
}

ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    margin-top: 0;
}

a {
        text-decoration: none;
        font-style: normal;
        display: inline-block;
}

.container {
    max-width: 1158px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 156px;
    margin-right: 156px;
    margin-top: 0;
    margin-bottom: 0;
}

.page-title {
        color: var(--NAVY-BLUE, #2E2F42);
            font-size: 36px;
            text-align: center;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
            text-transform: capitalize;
}

.name {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        margin-top: 32px;
}


.description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}




/* header */

.head-container {
    display: flex;
    gap: 332px;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

nav {
    display: flex;
    gap: 76px;
}



.site-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}


.logo-one {
    color: var(--NAVY-BLUE, #2E2F42);
}

.logo-two {
    color: var(--CLOUD, #F4F4FD);
}

.main-navigation-list {
    display: flex;
    gap: 40px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-navigation {
    color: currentColor;
}

.main-navigation:active,
.main-navigation:focus,
.main-navigation:hover {
    color: var(--OCEAN, #404BBF);
}


.info {
    font-style: normal;
}

.info ul {
    display: flex;
    gap: 40px;
}

.info-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}



.info-link:hover, 
.info-link:focus {
    color: var(--OCEAN, #404BBF);
}

/* section-1-main */


.service {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;
}

.first-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.service-button {
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.service-button:hover, .service-button:focus {
    background-color: var(--OCEAN, #404BBF);;
}

.service-button span {
    color: var(--WHITE, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
}

/* section-2-features */

.visually-hidden {
    display: none;
}

.features {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.features ul {
    display: flex;
    gap: 24px;
}

.features ul>li {
    flex-grow: calc((100% - 72px) / 4);
}


/* section-3-team */

.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team ul {
    display: flex;
    gap: 24px;
    margin-top: 72px;
    padding-top: 0;
}


.team-box {
    background-color: #FFFFFF;
    text-align: center;
    flex-grow: calc((100% - 72px) / 4);
    padding-bottom: 32px;
    
}




/* section-4-portfolio */

.portfolio {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 72px;
}

.portfolio ul>li {
    flex-grow: calc((100% - 48px) / 3);
}

.app-description .description {
    
    padding-left: 16px;
    padding-right: 16px;
}

.app-description h3 {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
    padding-top: 32px;
}

.app-description {
    border-left:1px solid var(--CORNFLOWER, #E7E9FC);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
    padding-bottom: 32px;
}


.portfolio-picture {
    flex-shrink: 0;
}

/* footer */

footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 101.5px;
    padding-bottom: 100px;
}

.foot-info {
    width: 264px;
    height: 72px;
}

footer .site-logo {
    margin-bottom: 17.5px;
    padding: 0;
}

.foot-description {
    color: var(--CLOUD, #F4F4FD);
    letter-spacing: 0.02em;
    line-height: 1.5;
}
